body {
    background-color: rgb(243, 255, 214);
}

h1 {
    color: rgb(94, 102, 81);
    text-align: center;
    font-family: 微軟正黑體;
    animation: slide 1s forwards;
    font-size: 40px;
}

p,
div {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: rgb(114, 125, 93);
    animation: slide 1s forwards;
    font-family: 微軟正黑體;
    font-size: 20px;
}

h2 {
    display: block;
    text-align: center;
    animation: slide 1s forwards;
    margin: 0 auto;
    font-family: 微軟正黑體;
    color: rgb(50, 52, 46);
}

#maxmin {
    display: block;
    text-align: center;
    margin: 0 auto;
    animation: slide 1s forwards;
    font-family: 微軟正黑體;
    color: rgb(111, 117, 98);
}

#input_number {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-family: 微軟正黑體;
    color: rgb(56, 59, 49);
    animation: slide 1s forwards;
}

.button {
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(234, 255, 185, 0.774);
    font-family: 微軟正黑體;
    border-radius:5px;
    border-color: rgb(70, 255, 193);
    animation: slide 1s forwards;
}

.button:hover {
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(0, 255, 225);
    font-family: 微軟正黑體;
}


#ans {
    display: block;
    text-align: center;
    margin: 0 auto;
    translate: slide 1s forwards;
    font-family: 微軟正黑體;
}

#introduction,
#bsa {
    text-align: left;
    max-width: 400px;
    margin-right: auto;
    margin-left: 650px;
    opacity: 0;
    animation: slide 2s forwards;
    display: none;
}

@keyframes slide {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}