body {background-color: rgb(243, 255, 214);}
h1 {
    color: rgb(94, 102, 81);
    text-align: center;
    font-family: 微軟正黑體;
    font-size: 40px;
}
p,div{
    display: block;
    text-align: center;
    margin:0 auto;
    color: rgb(114, 125, 93);
    font-family: 微軟正黑體;
    font-size: 20px;
}
h2 {
    display: block;
    text-align: center;
    margin:0 auto;
	font-family: 微軟正黑體;
    color: rgb(50, 52, 46);
}
#maxmin{
    display: block;
    text-align: center;
    margin:0 auto;
	font-family: 微軟正黑體;
    color: rgb(111, 117, 98);
}
#input_number{
    display: block;
    text-align: center;
    margin:0 auto;
	font-family: 微軟正黑體;
    color: rgb(56, 59, 49);
}
.button{
    display: block;
    text-align: center;
    margin:0 auto;
    font-family: 微軟正黑體;
}
#ans{
    display: block;
    text-align: center;
    margin:0 auto;
    font-family: 微軟正黑體;
}
#bsa{
    text-align:left;
    margin-left:150px;
    margin-right:50px;
    cursor: pointer;
}
#bsa.